<div class="container bg-light">
    <form action="" class="container form-flex">
      <div class="weight">
          <label class="mr-2" for="weight">Weight</label>
          <input [(ngModel)]="weight" type="number" name="weight" id="weight">
      </div>
      <div class="size">
          <label class="mr-2" for="size">Size (m)</label>
          <input [(ngModel)]="size" type="number" name="size" id="size">
      </div>
      <input (click)="calculate()" class="btn btn-success" type="submit" name="submit" id="submit" value="Calculate">
    </form>
    <p>Votre IMC est : {{result}} </p>
    <div class="comment">
      <div *ngIf="this.result < 18.5" class="skinny">You're skinny, go McDO !</div>
      <div *ngIf="this.result > 18.5 && result < 24.9" class="skinny">You're normal, great !</div>
      <div *ngIf="this.result > 25" class="skinny">You're fat, go sport !</div>
      <div *ngIf="this.result > 30" class="skinny">You're fat, be careful !</div>
    </div>
  </div>